<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606804327159-98fsugkr9n4l1qulqpl4r6gj16t62b9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606804327159-98fsugkr9n4l1qulqpl4r6gj16t62b9j</string>
	<key>API_KEY</key>
	<string>AIzaSyBQxhyOBRzTLW8rmALepBW-yAfDBVSVab4</string>
	<key>GCM_SENDER_ID</key>
	<string>606804327159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.verticallabs.upload</string>
	<key>PROJECT_ID</key>
	<string>upload-e7229</string>
	<key>STORAGE_BUCKET</key>
	<string>upload-e7229.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606804327159:ios:2109e50cab44d73a7db1f2</string>
</dict>
</plist>